body {
    background: #f4f4f4;
}

.banner {
    background: #acffa2;
    background: -webkit-linear-gradient(to right, #83cc3f, #fdde9c, #fd9c9c);
    background: linear-gradient(to right, #9cb7fd, #c95d5d, #ffc4c4);
}

.container-fluid img{
    width: 100%;
    height: 200px;
}